<launch>
  <arg name="map" default="road" />
  <arg name="state_filename" default="$(find carto_slam)/recorded_bag/state_$(arg map).pbstream" />
  
  <param name="/use_sim_time" value="false" />

  <param name="robot_description"
    textfile="$(find carto_slam)/urdf/bot.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />


  <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find carto_slam)/config/slam.rviz" />

  <node name="map_server" pkg="carto_slam" type="map_server.py" output="screen" >
    <param name="map_file" value="$(find carto_slam)/recorded_bag/ros_map.pgm" />
  </node>


  <node name="fake_imu" pkg="carto_slam" type="fake_imu.py" />

  
  <include file="$(find carto_slam)/launch/velodyne.launch">
    <arg name="frame_id" value="laser" />
  </include>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find carto_slam)/config
          -configuration_basename localization.lua
          -load_state_filename $(arg state_filename)"
      output="screen">
    <remap from="/points2" to="/velodyne_points" />
    <remap from="/imu" to="/Imu" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
